# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
build
*.o
*.lo
*.pc
Makefile
*.log
*.la
*.dox
.deps
.libs
exosip-config.h
osip-config.h
stamp-h1
libtool
config.status
sip_monitor
sip_reg
